{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Produtos</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6><button class="btn btn-outline-primary"><i
                    class="fa-solid fa-pen-to-square"></i> Cadastrar</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Codigo</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Categoria</th>
                            <th>status</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Codigo</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Categoria</th>
                            <th>status</th>
                            <th>Editar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for produto in produtos %}
                        <tr>
                            <td>{{ produto.NOME }}</td>
                            <td>{{ produto.CODIGO }}</td>
                            <td>{{ produto.DESCRICAO }}</td>
                            <td>{{ produto.PRECO }}</td>
                            <td>{{ produto.QUANTIDADE }}</td>
                            <td>{{ produto.CATEGORIA }}</td>
                            <td>{{ produto.STATUS }}</td>
                            <td><button class="btn btn-outline-primary"><i
                                        class="fa-solid fa-pen-to-square"></i></button>
                        </tr>
                        {% else %}
                        <tr>
                            <td>Produtos não Cadastrado.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}