{% extends 'layout.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Cadastro de usuarios</h1>
	<!-- Exibir mensagem de erro -->
	{% if error %}
	<div class="alert alert-danger text-center" role="alert">{{error}}</div>
	{% endif %}

	<!-- Exibir mensagem de sucesso -->
	{% if success %}
	<div class="alert alert-success text-center" role="alert">{{ success }}</div>
	{% endif %}
	<!-- DataTales Example -->
	<div class="card shadow mb-2">
		<div class="card-header py-3">
			<h6 class="font-weight-bold text-primary"></h6>
			<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop">
				<i class="fa-solid fa-pen-to-square"></i>
				Cadastrar</button>
			<div class="d-flex justify-content-end alingm-items-end">
				<div class="input-group col-md-2">
					<input type="text" class="form-control" placeholder="Pesquisa usuarios"
						aria-label="Recipient's username" aria-describedby="button-addon2">
					<button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"><i
							class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</div>
		</div>
		<form method="POST" action="/cadastrarUsuario">
			<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">Cadastro de usuarios</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-row">
								<div class="d-flex justify-content-center">
									<div class="alert alert-danger text-center" id="mensagem" role="alert"
										style="display: none;">Senha diferente da digitada ou quantiade menor que 8
										caracteres</div>
								</div>
								<div class="form-group col-md-6">
									<label for="nome">Nome</label>
									<input type="text" name="nome" class="form-control" id="name"
										placeholder="Digite o nome" required>
								</div>
								<div class="form-group col-md-6">
									<label for="email">Email</label>
									<input type="email" name="email" class="form-control" id="email"
										placeholder="Digite o E-mail" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="senha">Senha</label>
									<input type="password" name="senha" class="form-control" id="senha" required>
								</div>
								<div class="form-group col-md-6">
									<label for="confirma">Confirma senha</label>
									<input type="password" class="form-control" id="confirma" required>
								</div>
							</div>
							<div class="form-group">
								<label for="departamento">Departamento</label>
								<input type="text" name="departamento" class="form-control" id="departamento"
									placeholder="Informe o Departamento">
							</div>
							<div class="form-row">
								<div class="form-group col-md-3">
									<label for="grupo">Grupo</label>
									<input type="text" name="grupo" class="form-control" id="groupo" placeholder="">
								</div>
								<div class="form-group col-md-3">
									<label for="inputState">Usuario Bloqueado</label>
									<select id="inputState" name="status" class="form-control">
										<option value="0" {% if usuario.BLOQUEADO==0 %} selected {% endif %}>Não
										</option>
										<option value="1" {% if usuario.BLOQUEADO==1 %} selected {% endif %}>Sim
										</option>
									</select>
								</div>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="gridCheck">
								<label class="form-check-label" name="altera" for="gridCheck">
									Alterar senha no proximo login
								</label>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Status</th>
							<th>Nome</th>
							<th>E-mail</th>
							<th>Departamento</th>
							<th>Grupo</th>
							<th>Telefone</th>
							<th>Alterar</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Status</th>
							<th>Nome</th>
							<th>E-mail</th>
							<th>Departamento</th>
							<th>Grupo</th>
							<th>Telefone</th>
							<th>Alterar</th>
						</tr>
					</tfoot>
					<tbody>
						{% for usuario in usuarios %}
						<tr>
							{% if usuario.BLOQUEADO == false %}
							<td class="text-center"><img src="/assets/img/legendas/verde.png" alt="clew"></td>
							{% endif %}

							{% if usuario.BLOQUEADO == true %}
							<td class="text-center"><img src="/assets/img/legendas/vermelho.png" alt="Vermelho"></td>
							{% endif %}
							<td>{{ usuario.NOME }}</td>
							<td>{{ usuario.EMAIL }}</td>
							<td>{{ usuario.DEPARTAMENTO }}</td>
							<td>{{ usuario.GRUPO }}</td>
							<td>{{ usuario.TELEFONE }}</td>
							<td class="text-center">
								<button type="button" class="btn btn-outline-primary" data-toggle="modal"
									data-target="#modalAtualiza{{ usuario.ID }}">
									<i class="fa-solid fa-pen-to-square"></i>
								</button>
							</td>
						</tr>

						<!-- Modal -->
						<div class="modal fade" id="modalAtualiza{{ usuario.ID }}" data-backdrop="static"
							data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="staticBackdropLabel">Atualizar Usuario</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form method="POST" action="/editarUsuarios">
										<input type="hidden" name="id" value="{{ usuario.ID }}">
										<!-- Campo oculto para o ID -->
										<div class="modal-body">
											<div class="form-row">
												<div class="form-group col-md-6">
													<label for="nome">Nome</label>
													<input type="text" name="nome" class="form-control" id="name"
														value="{{ usuario.NOME }}" placeholder="Digite o nome" required>
												</div>
												<div class="form-group col-md-6">
													<label for="email">Email</label>
													<input type="email" name="email" class="form-control"
														value="{{ usuario.EMAIL }}" id="email"
														placeholder="Digite o E-mail" required>
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-md-6">
													<label for="senha">Senha</label>
													<input type="password" name="senha" class="form-control" id="senha"
														value="{{ usuario.SENHA }}" placeholder="*****" required>
												</div>
												<div class="form-group col-md-6">
													<label for="confirma">Confirma senha</label>
													<input type="password" class="form-control" id="confirma"
														value="{{ usuario.SENHA }}" placeholder="*****" required>
												</div>
											</div>
											<div class="form-group">
												<label for="departamento">Departamento</label>
												<input type="text" name="departamento"
													value="{{ usuario.DEPARTAMENTO }}" class="form-control"
													id="departamento" placeholder="Informe o Departamento">
											</div>
											<div class="form-row">
												<div class="form-group col-md-3">
													<label for="grupo">Grupo</label>
													<input type="text" name="grupo" class="form-control" id="groupo"
														value="{{ usuario.GRUPO }}" placeholder="">
												</div>
												<div class="form-group col-md-3">
													<label for="inputState">Usuario Bloqueado</label>
													<select name="bloqueado" class="form-control" required>
														<option selected value="{{usuario.BLOQUEADO}}"></option>
														<option value="0" {% if usuario.BLOQUEADO==0 %} selected {%
															endif %}>Não</option>
														<option value="1" {% if usuario.BLOQUEADO==1 %} selected {%
															endif %}>Sim</option>
													</select>
												</div>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="checkbox" id="gridCheck">
												<label class="form-check-label" name="altera" for="gridCheck">
													Alterar senha no proximo login
												</label>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Cancelar</button>
											<button type="submit" class="btn btn-primary">Atualiza Dados</button>
										</div>
									</form>
								</div>
							</div>
						</div>


						{% else %}
						<tr>
							<td>Nenhum Usurario Cadastrado.</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>

</div>
<!-- /.container-fluid -->
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const senhaInput = document.getElementById('senha');
		const confirmaInput = document.getElementById('confirma');
		const mensagemError = document.getElementById('mensagem');

		function validarSenhas() {
			const senha = senhaInput.value;
			const confirma = confirmaInput.value;

			if (confirma.length > 0 && senha !== confirma) {
				mensagemError.style.display = 'block';
				senhaInput.classList.add('is-invalid');
			}
			else {
				mensagemError.style.display = 'none';
				senhaInput.classList.remove('is-invalid');
			}
		}

		confirmaInput.addEventListener('input', validarSenhas);
		senhaInput.addEventListener('input', validarSenhas);
	});

</script>
<script src="assets/js/function/validaCampos.js"></script>
{% endblock %}