{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Vendas</h1>
	<!-- Exibir mensagem de erro
	{% if error %}
	<div class="alert alert-danger text-center" role="alert">{{error}}</div>
	{% endif %}

	 Exibir mensagem de sucesso
	{% if success %}
	<div class="alert alert-success text-center" role="alert">{{ success }}</div>
	{% endif %}
	DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary"></h6>
			<a class="btn btn-outline-warning" href="/orcamento">
				<i class="fa-solid fa-pen-to-square"></i>Vendas</a>
		</div>
		
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>status</th>
							<th>Nome</th>
							<th>Codigo</th>
							<th>Ean</th>
							<th>Descrição</th>
							<th>Preco</th>
							<th>Quantiade</th>
							<th>Alterar</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>status</th>
							<th>Nome</th>
							<th>Codigo</th>
							<th>Ean</th>
							<th>Descrição</th>
							<th>Preco</th>
							<th>Quantiade</th>
							<th>Alterar</th>
						</tr>
					</tfoot>
					<tbody>
						{% for venda in vendas %}
						<tr class="text-center">
							{% if venda.STATUS == 'pendent' %}
							<td class="text-center"><img src="/assets/img/legendas/verde.png" alt="clew"></td>
							{% endif %}
							{% if produto.STATUS == 'aprovado' %}
							<td class="text-center"><img src="/assets/img/legendas/vermelho.png" alt="clew"></td>
							{% endif %}
							{% if produto.STATUS == 'rejeitado' %}
							<td class="text-center"><img src="/assets/img/legendas/vermelho.png" alt="clew"></td>
							{% endif %}
							{% if produto.STATUS == 'expirado' %}
							<td class="text-center"><img src="/assets/img/legendas/vermelho.png" alt="clew"></td>
							{% endif %}
							<td>{{ produto.NOME }}</td>
							<td>{{ produto.CODIGO }}</td>
							<td>{{ produto.EAN }}</td>
							<td class="col-4">{{ produto.DESCRICAO }}</td>
							<td>R$:
								{{ produto.PRECO }}</td>
							<td>{{ produto.QUANTIDADE_ESTOQUE }}</td>
							<td class="text-center">
								<button type="button" class="btn btn-outline-primary" data-toggle="modal"
									data-target="#modalAtualiza{{ produto.ID }}">
									<i class="fa-solid fa-pen-to-square"></i>
								</button>
							</td>
						</tr>
						<!-- Modal -->
						<div class="modal fade" id="modalAtualiza{{ produto.ID }}" data-backdrop="static"
							data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-xl">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="staticBackdropLabel">Cadastro de produtos</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form method="POST" action="/orcamento/atualizar">
										<input type="hidden" name="id" value="{{ orcamento.ID }}">
										<div class="modal-body">
											<div class="form-row">
												<div class="form-group col-md-4">
													<label for="nome">Nome</label>
													<input type="text" class="form-control" name="nome" id="name"
														placeholder="Digite o nome" value="{{ produto.NOME }}" required>
												</div>
												<div class="form-group col-sm-4">
													<label for="codigo">Codigo</label>
													<input type="text" class="form-control" name="codigo" id="codigo"
														placeholder="Codigo do produto" value="{{ produto.CODIGO }}"
														required>
												</div>
												<div class="form-group col-sm-4">
													<label for="ean">Ean</label>
													<input type="text" class="form-control" name="ean" id="ean"
														placeholder="Ean Codigo de fabrica" value="{{ produto.EAN }}"
														required>
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-sm-3">
													<label for="preco">Preco</label>
													<input type="text" class="form-control" name="preco" id="preco"
														placeholder="R$:***" value="{{ produto.PRECO }}" required>
												</div>
												<div class="form-group col-sm-3">
													<label for="custo">Custo</label>
													<input type="text" class="form-control" name="custo" id="custo"
														placeholder="Custo do produto" value="{{ produto.CUSTO }}">
												</div>
												<div class="form-group col-md-3">
													<label for="quantidade">Quantidade</label>
													<input type="number" class="form-control" name="quantidade"
														id="quantidade" placeholder="0"
														value="{{ produto.QUANTIDADE_ESTOQUE }}">
												</div>
											</div>
											<div class="form-row">
												<label for="descricao">Descrição do produto</label>
												<textarea class="form-control" name="descricao" id="descricao" rows="12"
													cols="12">{{ produto.DESCRICAO }}</textarea>
											</div>
											<div class="form-row">
												<div class="form-group col-md-3">
													<label for="status">Produto Ativo / Inativo</label>
													<select class="form-control" name="status" id="status">
														<option value="inativo" {% if produto.STATUS=='inativo' %}
															selected {% endif %}>Inativo</option>
														<option value="ativo" {% if produto.STATUS=='ativo' %} selected
															{% endif %}>Ativo</option>
													</select>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Cancelar</button>
											<button type="submit" class="btn btn-primary">Atualizar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						{% else %}
						<tr>
							<td>Nenhum Usurario Cadastrado.</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>

</div>
<!-- /.container-fluid -->
<script src="assets/js/function/validaCampos.js"></script>
{% endblock %}