{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Cadastro de produtos</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Produtos Cadastrado</h6>
            <br>
            <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i>
                Cadastrar</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Custo</th>
                            <th>Venda</th>
                            <th>Alterar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Codigo</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Custo</th>
                            <th>Venda</th>
                            <th>Alterar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td id="codo"></td>
                            <td id="descricao"></td>
                            <td id="quantidade"></td>
                            <td id="custo"></td>
                            <td id="valor"></td>
                            <td id="alterar"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}